.input-group.input-group-lg.active {
  background-color: #fff;
}

.input-group.input-group-lg.inactive {
  background-color: #f9f9f9;
}

.input-group.input-group-lg .copy.input-group-addon {
  background-color: transparent;
}

.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.input-group-lg>.input-group-addon.copy {
  font-size: small;
  opacity: 0;
}

.input-group-lg>.input-group-addon.copy:hover {
  opacity: 1;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f9f9f9;
  box-shadow: none;
}

.form-group {
  margin-bottom: 1px;
  border: 0;
}