.account-card-wrapper {
  margin-bottom: 4rem;
  position: relative;
}

.account-card {
  background-color: #f9f9f9;
  float: left;
  margin: 0.5rem;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  transition: all 0.5s;
}

.account-card:hover, .account-card.active {
  background-color: #eee;
  box-shadow: 1rem 1rem 0.5rem rgba(0,0,0,0.15);
  transform: translateY(-0.5rem);
  transition: all 0.5s;
}

.new-account-button {
  border-radius: 0;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 5rem;
  width: 5rem;
  font-size: 5rem;
  text-align: center;
  line-height: 0rem;
  padding-top: 0.75rem;
  box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.2);
  outline: none;
}

.new-account-button:before {
  content: "+";
  position: absolute;
  left: 1.35rem;
}

.new-account-button:focus {
  outline: none;
  border: none;
}
