body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 85px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label {
  color: #000;
}

.account-card {
  border-right: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  float: left;
}
.new-account .cancel {
  text-align: center;
  color: #d9534f;
  margin: 0 auto;
  display: block;
}

.new-account-button {
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.account-card-wrapper {
  margin-bottom: 2rem;
}

.account-card.new span.input-group.input-group-sm {
  display: block;
}

button.delete {
  float: right;
  position: relative;
  right: 5px;
  top: -5px;
  border-radius: 0px;
}