body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background: url('/images/pw_maze_white.png');
}

* {
  border-radius: 0 !important;
}

button.btn:focus {
  outline: none !important;
}

button.btn {
  font-family: 'Jura', sans-serif;
}