.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 85px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

label {
  color: #000;
}

.account-card {
  border-right: 1px solid rgba(0,0,0,0.2);
  box-shadow: 1px 1px 0px rgba(0,0,0,0.1);
  margin: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  /*
  max-width: 31%;
  float: left;
  */
}

.new .input-group-addon {
  display: none;
}